.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
}
.page  {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-main);
  color: var(--text-main);
  transition: background-color 0.2s ease, color 0.2s ease;
}

